<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Добро пожаловать в Админ-Панель</h1>
	</div>

	<!-- Content goes here -->
	<div class="d-flex align-items-start">
		<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<script type="text/javascript">
				const data = {{ data }};
				var globalVariable={
				   x: {{ data }}
				};
			</script>
			<div id="myfirstchart" style="height: 250px;">
				{% for k, v in data.items() %}
				    {% block javascript %}
						<script type="text/javascript" src="{{ url_for('static', path='/js/Moris.js') }}?v={{ time.time() }}"></script>
					{% endblock %}
				{% endfor %}
			</div>
		</div>
	</div>
</main>